section.playerLabel {
    text-align: center;
    vertical-align: middle;
    padding: 6px;
}

section[role="slider"] {
    width: 100%;
    margin: 6px;
}

table {
    width: 100%;
}

td {
    vertical-align: middle;
}

.rightAligned {
    text-align: right;
}

.centerAligned {
    text-align: center;
}

audio {
    width: 100%;
    background-color: transparent;
    margin-left: 0;
    margin-right: 0;
}
