#coverArt {
    width: 360px;
    height: 360px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;

    background-image: url(../img/covers/nocover.png);
    background-size: 100%;
}

#lyrics td {
    vertical-align: middle;
    font-size: large;
    width: -moz-max-content;
}

#lyrics p {
    width: auto;
    padding: 12px;
    background-color: rgba(128, 128, 128, 0.5);
    color: rgba(255, 255, 255, 0.8);
    margin: 0 auto;
}

#middleLine {
    background-color: rgba(128, 128, 128, 0.7) !important;
    color: #ffffff !important;
}