section.playerLabel {
    text-align: center;
    vertical-align: middle;
}

section[role="slider"] {
    width: 100%;
    margin: 6px;
}

table {
    width: 100%;
}

td {
    vertical-align: middle;
}

td.rightAligned {
    text-align: right;
}

td.centerAligned {
    text-align: center;
}
